@import '../.visual-source/visual-source.css';

html,
body {
	background-color: var(--bg);
	color: var(--body-text);
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--heading-text);
	font-family: 'Bitcount Grid Single', system-ui;
	font-weight: 400;
}
